$base-color: #FFFFFF;
$base-font-color: #FFFFFF;
$base-font: IBM Plex Sans;

html,body{
  height: 100%
}
.navbar-blue {
  min-height: 100px;
  height: auto;
  background-color: #293377;
  .nav-item {
    .nav-title {
      text-align: center;
      font: 500 15px/25px $base-font;
      letter-spacing: 0.45px;
      color: $base-font-color;
      opacity: 0.45;
    }

    a.active {
      opacity: 1;
    }

  }

  .btn-sign-in {
    width: 140px;
    height: 43px;
    border-radius: 24px;
    font: 500 15px/25px $base-font;
    letter-spacing: 0.45px;
  }

  .btn-sign-up {
    text-align: center;
    font: 500 15px/25px $base-font;
    letter-spacing: 0.45px;
    color: $base-font-color;
    opacity: 1;
  }

  .separator {
    border-left: 2px solid $base-font-color;
    height: 42px;
    opacity: 0.45;
  }
}

.main-title {
  height: 223px;
  width: 100%;
  margin-top: 100px;
  text-wrap: normal;
  background: #F4F7FE 0% 0% no-repeat padding-box;
  opacity: 1;

  .disc {
    text-align: center;
    font: 400 30px/49px $base-font;
    letter-spacing: 0.9px;
    color: #454545;
    opacity: 1;
  }
}

.content-box{
  padding-bottom: 50px;
  .title{
    /*text-align: left;*/
    font: 400 28px/40px $base-font;
    letter-spacing: 0.98px;
    color: #293377;
    opacity: 1;
  }
  .under-title{
    margin: auto;
    width: 40px;
    border-bottom: 2px solid #293377;
  }


}
.plan{
  //width: 430px;
  min-height: 898px;
  background: #FFFFFF 0% 0% no-repeat padding-box;
  box-shadow: 0px 0px 10px #0000000F;
  border-radius: 2px;
  opacity: 1;
 .header{
   height: 132px;
   background-color: #303F9F;
   border-radius: 2px;
   .title{
     text-align: center;
     font: 500 24px/32px $base-font;
     letter-spacing: 0.72px;
     color: $base-font-color;
   }
 }
  .price-content{
    height: 202px;
    background-color: #F4F7FE;
    border-radius: 2px;
    .disc{
      text-align: center;
      font: 400 18px/23px $base-font;
      letter-spacing: 0.36px;
      color: #3A3A3A;
    }
    .price{
      text-align: center;
      font: 500 43px/62px $base-font;
      letter-spacing: 1.29px;
      color: #933FA2;
      opacity: 1;
    }
    .period{
      justify-content: center;
      display: flex;
      .per-1{
        text-align: center;
        font: 400 18px/33px $base-font;
        letter-spacing: 0.36px;
        color: #414141;
        opacity: 1;
      }
      .per-2{
        text-align: center;
        font: 500 18px/33px $base-font;
        letter-spacing: 0.36px;
        color: #303F9F;
        opacity: 1;
      }
    }
  }
  .price-content.main-plan{
    height: 250px;
  }
  .benefits{
    .item{
      border-bottom: 1px solid lightgray;
      .name{
        text-align: left;
        font: 400 14px/36px $base-font;
        letter-spacing: 0.42px;
        color: #5B5D62;
        opacity: 0.48;
      }
      .details{
        text-align: left;
        font: 500 16px/36px $base-font;
        letter-spacing: 0.48px;
        color: #5B5D62;
        opacity: 1;
      }

    }
  }

}

.main-footer {
  //position: absolute;
  //top: calc(100vh - 250px);
  //bottom: 0;
  //left: 0;
  position: relative;
  clear:both;
  min-height: 250px;
  height: auto;
  width: 100%;
  background-color: #303F9F;
  opacity: 1;


  .title {
    text-align: left;
    font: 500 18px/30px $base-font;
    letter-spacing: 0px;
    color: $base-font-color;
    opacity: 1;
  }

  .item-title {
    text-align: left;
    font: 400 14px/36px $base-font;
    letter-spacing: 0px;
    color: #ABB3BC;
    opacity: 1;
  }


}

.custom-control-label::before {
  position: absolute;
  top: 0.65rem;
  left: -1.5rem;
  display: block;
  width: 1rem;
  height: 1rem;
}
.custom-switch{
  .custom-control-label::after {
    top: calc(.65rem + 2px);
    left: calc(-2.25rem + 2px);
    width: calc(1rem - 4px);
    height: calc(1rem - 4px);
  }
}
